:root {
  --sidebar-collapsed: 80px;
  --sidebar-expanded: 260px;

  /* largura ativa da sidebar */
  --sidebar-width: var(--sidebar-expanded);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #101622;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

/* quando sidebar estiver recolhida */
body.sidebar-collapsed {
  --sidebar-current: var(--sidebar-collapsed);
}
